DB_HOST=postgres_db
DB_PORT=5432
DB_NAME=ecommerce_analytics
DB_USER=postgres
DB_PASSWORD=change_me

DUMMY_PRODUCTS_URL=https://dummyjson.com/products
DUMMY_CATEGORIES_URL=https://dummyjson.com/products/categories
ESCUELA_PRODUCTS_URL=https://api.escuelajs.co/api/v1/products
ESCUELA_CATEGORIES_URL=https://api.escuelajs.co/api/v1/categories
ESCUELA_USERS_URL=https://api.escuelajs.co/api/v1/users

POSTGRES_PASSWORD=change_me
AIRFLOW_DB_PASSWORD=change_me
AIRFLOW_ADMIN_PASSWORD=change_me
AIRFLOW_FERNET_KEY=generate_with_fernet