__pycache__/
*.pyc
.venv/

.idea/
.env
*.env

dbt/profiles.yml
dbt/.user.yml
dbt/ecommerce_analytics/target/
dbt/ecommerce_analytics/logs/
dbt/ecommerce_analytics/dbt_packages/
dbt/logs/

#Airflow
logs/